* {
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    background-color: white;
}

nav {
    display: flex;
    font-size: 13px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    background-color: black;
    color: whitesmoke;
}

nav ul {
    align-items: center;
    list-style: none;
    display: flex;
    padding: 0;
}

#logo {
    display: flex;
    align-items: center;
}

#logo i {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

#search_area {
    padding: 15px;
    height: auto;
}

#magnifier {
    color: inherit;
    margin: 4px;
    margin-left: 10px;
}

#searchbar {
    height: 30px;
    border-radius: 20px;
    border: 2px solid #202124;
    background-color: #202124;
    border-width: 1px;
    display: flex;
    position: relative;
    width: 20vw;
    margin-left: 10px;
    align-items: center;
}

#searchinput {
    outline: none;
    border: none;
    cursor: auto;
    background-color: inherit;
    color: inherit;
}

#searchbar:hover {
    background-color: black;
}

nav a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    border-radius: 20px;
}

a:hover {
    background-color: #202124;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}