* {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

nav {
    display: flex;
    font-size: 13px;
    height: 30px;
    align-items: center;
    justify-content: flex-end;
    padding: 12px;
    background-color: black;
    color: whitesmoke;
}

@media (max-width: 800px) {
    nav {
      height: auto;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      justify-content: center;
    }
    nav #search_area {
        padding: 0px;
        margin: 0px;
    }
  }

nav ul {
    align-items: center;
    list-style: none;
    display: flex;
    padding: 0;
}

#logo {
    display: flex;
    position: absolute;
    left: 20px;
    top: 12px;
    align-items: center;
}

#logo i {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

#search_area {
    padding: 15px;
    height: auto;
}

#magnifier {
    color: inherit;
    margin: 4px;
    margin-left: 10px;
}

#searchbar {
    height: 30px;
    border-radius: 20px;
    border: 2px solid #202124;
    background-color: #202124;
    border-width: 1px;
    display: flex;
    position: relative;
    width: 20vw;
    min-width: 200px;
    margin-left: 10px;
    align-items: center;
}

#searchinput {
    outline: none;
    border: none;
    cursor: auto;
    background-color: inherit;
    color: inherit;
}

#searchbar:hover {
    background-color: black;
}

nav a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    border-radius: 20px;
}

nav a:hover {
    background-color: #202124;
}

code {
    white-space: pre;
}

h1 {
    padding-top: 20px;
}

textarea {
    height: 90vh;
}

#index_main {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin: 20px;
}

#git_searcharea {
    margin: auto;
}

h1 {
    margin-top: 50px;
    margin-bottom: 20px;
}

#git_searchbar {
    height: 40px;
    border-radius: 20px;
    border: 2px solid #202124;
    border-width: 1px;
    display: flex;
    width: 50vw;
    align-items: center;
    color: black;
    margin-top: 20px;
}

#git_searchbar input {
    outline: none;
    border: none;
    cursor: auto;
    background-color: inherit;
    color: black;
    align-items: center;
    width: 45vw;
}

#git_searchbar:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

.wrapper {
   margin-left: 4vw;
}
.entries_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    list-style: none;
    text-align: center;
}

.entries_list i {
    font-size: 30px;
    padding: 4px;
}

.entries_list a {
    text-decoration: none;
    color: #202124;
    padding: 12px;
    width: 150px;
}

.entries_list a:hover {
   background-color: whitesmoke;
   border-radius: 20px;
}

#entry p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#entry {
    margin: -10px 80px 10px 80px;
}

.edit_button {
    position: absolute;
    right: 0;
    margin: 20px;
    padding: 8px;
    background: #1a73e8;
    border: 1px solid transparent;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.edit_page {
    margin: -10px 80px 0px 4vw;
}

.edit_page form {
    display: grid;
    width: 80vw;
    row-gap: 12px;
    font-size: 20px;
}

.edit_page input {
    font-size: large;
    width: 30vw;
}

.submit_button {
    padding: 8px;
    background: #1a73e8;
    border: 1px solid transparent;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    max-width: 80px;
}

.confirm_button {
    padding: 8px;
    background: forestgreen;
    border: 1px solid transparent;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    width: 120px;
}

.download_list {
    display: grid;
    grid-template-columns: 10vw 70vw;
    align-items: center;
}

.download_list i {
    margin: 20px;
    font-size: 50px;
}

#git_confirm_page {
    margin: -10px 4vw 0px 4vw;
}

