{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create an Entry
{% endblock %}

{% block body %}

    {% if error_message %}
        <script>
            alert("{{ error_message }}");
        </script>
    {% endif %}

<div class="edit_page">
    <h1>Create a Page</h1>
    <p class="markdown_note">🧑‍💻 Please write entries in <a href="https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax">Markdown Format</a></p>

    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input class="submit_button" type="submit">
    </form>
</div>
{% endblock %}