{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
<main id="index_main">
    <h1>Download entries from GitHub</h1>

    {% if error_message %}
        <script>
            alert("{{ error_message }}");
        </script>
    {% endif %}

    <div id="git_searcharea">
        <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            <div id="git_searchbar">
                <i id="magnifier" class="fa fa-search"></i>
                {{ form }}
            </div>
        </form>
    </div>

    <h1>All Entries</h1>

    <div class="wrapper">
        <div class="entries_list">
            {% for entry in entries %}
                    <a href="wiki/{{ entry }}">
                        <div>
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </div>
                        {{ entry }}
                    </a>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}