{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div>
            {% block nav %}
            <nav class="nav">
                <a href="{% url 'index' %}">
                    <div id="logo">
                        <i class="fa fa-github" aria-hidden="true"></i>
                        <h2>Gittipedia</h2>
                    </div>
                </a>

                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'create' %}">Create a New Page</a></li>
                    <li><a href="{% url 'random' %}">Random Page</a></li>

                    <div id="search_area">
                        <form action="{% url 'search' %}" method="GET">
                            <div id="searchbar">
                                <i id="magnifier" class="fa fa-search"></i>
                                <input id="searchinput" type="text" name="q" placeholder="Search Encyclopedia">
                            </div>
                        </form>
                    <div>
            </nav>
            {% endblock %}
            <div class="main col-lg-10 col-md-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>